.header-bg {
  background: #000000;
  border-bottom: 1px solid #ffffff;
}

.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  gap: 2.5rem;
  & a {
     color: #ffffff;
     display: inline-block;
     padding: 1rem 0px;
     position: relative;
  }
  & a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: #ffffff;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute
  };
  & a:hover::after {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .header-menu {
    gap: 1.25rem;
    & a {
      background: #111111;
      border-radius: 4px;
      padding: 0.75rem 1rem;
   }
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 0.75rem;
    & a {
      background: #111111;
      border-radius: 4px;
      padding: 0.5rem 0.75rem;
      font-size: 0.875rem;
      &:hover {
         background-color: #2e2e2e;
      }
   }
  }

  .header a::after {
    display: none;
  }
}