@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --point: #ffbb00;
  --desc: #b2b2b2;
  --gradient: linear-gradient(#ffbf00, #f2a50c);
  --gradient-hover: linear-gradient(#ffb60d, #e59317);
  --button-title: #332200;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 4px
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 1.25rem;
}

.point {
  color: var(--point);
}

.button {
  background: var(--gradient);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 0.1);
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: var(--button-title);
  font-size: 1.125rem;
  line-height: 1.33;
  font-weight: bold;
  transition: 0.3s;
}

.button:hover {
  background: var(--gradient-hover);
}